
.mi-seccion-principal{
    margin: 0 auto;
    margin-top: 10%;
    padding: 0;
}

.modal-content{
background-color: beige;
opacity: .95;
padding: 0 20px;
box-shadow: 0px 0px 2px #848484;
}

.mi-imagen-usuario{
    margin-top: 5px;
   padding: 0 0 10px;
}

.mi-imagen-usuario img{
    width: 50%;
    height: 50%;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input{
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 50px;

}

.form-group::before{
    font-family: "Material Icons";
    position: absolute;
    left: 30px;
    font-size: 25px;
    padding-top: 7px;
}

.form-group#user-group::before{
    content: "\e7fd";
}

.form-group#pass-group::before{
    content: "\e897"; 
}

.mi-button{
    width: 50%;
    margin: 5px 0 25px;
    font-size: 25px;
    border-radius: 10px;
    text-align: right;
    cursor: pointer;
}

.mi-icono-ingresar{
    float: left;
}

.mi-forgot{
    padding: 5px 0;
}