@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

.container{
  
    font-family: 'Source Sans Pro', sans-serif; 
    
    
}



.align-left{
    text-align: left;
}


/* .title{
    text-align: center;
} */

.row_form{
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.col_form_lbl{
    width: 20%;
}

.col_form_inp{
    width: 30%;
    border-radius: 15px;
    
}

.txt_lbl{
font-weight: bold;
}

.row_form_ind{
    display: flex;
    padding: 10px;
    
}

.txt_hora{
    
    width: 1500px;
    
    height: 30px;

}


.txt_inp_fecha{
    border-radius: 5px;
    width: 150px;
    height: 30px;
}

.txt_inp_hora{
    border-radius: 5px;
    width: 150px;
    height: 30px;
}

.txt_lbl_ind{
    font-weight: bold;

}

.txt_inp_ind{
    border-radius: 5px;
    width: 500px;
    height: 20px;
}

.col_form_lbl_ind{
    width: 40%;
    text-align: center;
}

.col_form_inp_ind{
    width: 60%;
}

.archivo{
    width: 100px;
}

.imagen{
    width: 300px;
    height: 120px;
    cursor: pointer;
}

.txt-file{
    font-size: 11px;
    color: #1487bb;
}