@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

.container{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-family: 'Source Sans Pro', sans-serif; 

}

.menu_bar{
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
    padding:  5px;
}

.col{
    width: 25%;
    text-align: center;
}

.menu_item{
    color: #ffff;
    font-size: 14px;
    font-weight: bold;
    /* font-family: sans-serif; */
    text-decoration: none;
}

.row_img{
    display: flex;
    padding:  20px;
}

.col_50{
    width: 50%;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.ih{
    width: 177px;
    height: 59px;

}

.linguaskill{
    width: 142px;
    height: 40px;
}

.title{
    text-align: center;
}

.row_form{
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.col_form_lbl{
    width: 20%;
}

.col_form_inp{
    width: 30%;
    border-radius: 15px;
    
}

.txt_lbl{
font-weight: bold;
}

.row_form_ind{
    display: flex;
    padding: 10px;
    
}

.txt_inp{
    border-radius: 5px;
    width: 300px;
    height: 20px;
}

.txt_lbl_ind{
    font-weight: bold;

}

.txt_inp_ind{
    border-radius: 5px;
    width: 500px;
    height: 20px;
}

.col_form_lbl_ind{
    width: 40%;
    text-align: center;
}

.col_form_inp_ind{
    width: 60%;
}