    .mi-button{
        border-radius: 8px;
        font-size: 18px;
        font-weight: bold;
        margin: 20px;
    }

    .mi-informacion{
        text-align: right;
        margin: 10px;
    }

    .titulo-index{
        text-align: center;
    }

    .linguaskill{
        position: absolute;
        right: 20px;
    }

    .lst-informacion{
        position: relative;
        top: 50px;
        left: 25px;
        font-size: 20px;
    }

    .mi-lista{
        list-style-type: circle;
    }

    .img-cambridge{
        position: relative;
        top: 85px;
        left: 50px;
    }

    .mi-lista li {
        padding: 5px;
    }
