

.mi-form{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.Register{
  width: 70%;
  max-width: 600px;
  text-align: center;
}

.img_ih{
  margin-left: 20px;
}

p{
  color: aliceblue;
  margin-left: 20px;
  text-align: right;
}

.mi-lista{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  margin-left: 50px;
 
  justify-self: end;
}
/*.nav-link{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  margin-left: 50px;
}*/
label{
  display: inline-block;
  width: 80px;
}
.container{
  height: 0px;
  margin-top: 0px;
}
.jumbotron{
  height: 87px;
  margin-top: 0px;
  padding: 1px;
  margin-bottom: 60px;
  
}  

.navbar{
  /*margin: 0px 5px 0px 0px;*/
  padding: 15px 5px 5px 5px;
  height: 70px;
}

