.navbar{
  /*margin: 0px 5px 0px 0px;*/
  padding: 15px 5px 5px 5px;
  /* height: 70px; */
}

.mi-lista{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  margin-left: 10px;
  justify-self: end;
}

p{
  color: aliceblue;
  margin-left: 20px;
  text-align: right;
}