<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario</title>
        <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">    
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/form.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    </head>
    <body>
        <div class="col-12 container">
            <div class="container_form">
                <div class="row pt-4 py-4" >
                    <div class="col-3 pr-5 text-right"><label for="nombres" class="txt_lbl">Nombres</label></div>
                    <div class="col-3 "><input type="text" name="nombres" id="nombres" placeholder="Escriba su Nombre" class="form-control"></div>
                    <div class="col-2 pr-5 text-right"><label for="apellidos" class="txt_lbl">Apellidos</label></div>
                    <div class="col-3 "><input type="text" name="apellidos" id="apellidos" placeholder="Escriba su Apellido" class="form-control"></div>
                </div>
                <div class="row pt-3 py-4">
                    <div class="col-3 pr-5 text-right"><label for="documento"  class="txt_lbl">Documento</label></div>
                    <div class="col-3  "><input type="text" name="documento" id="documento" placeholder="Escriba su Numero de Documento" class="form-control"></div>
                    <div class="col-2 pr-5 text-right"><label for="email" class="txt_lbl">Email</label></div>
                    <div class="col-3"><input type="text" name="email" id="email" placeholder="ejemplo@prueba.com" class="form-control"></div>
                </div>
                <div class="row py-4 ">
                    <div class="col-3 pr-5 text-right"><label for="direccion" class="txt_lbl">Dirección</label></div>
                    <div class="col-3"><input type="text" name="direccion" id="direccion" placeholder="Escriba su Dirección" class="form-control"></div>
                    <div class="col-2 pr-5 text-right"><label for="telefono" class="txt_lbl">Teléfono</label></div>
                    <div class="col-3"><input type="text" name="telefono" id="telefono" placeholder="Escriba su Numero de Teléfono" class="form-control"></div>
                </div>

                <div class="row py-3">
                    <div class="col-3 pr-5 text-right"><label for="fecha_exam" class="txt_lbl">Fecha del Examen</label></div>
                    <div class="col-3"><input type="date" name="fecha_exam" id="fecha_exam" class="form-control txt_hora"></div>
                    <div class="col-2 pr-5 text-right"><label for="hora" class="txt_lbl">Hora</label></div>
                    <div class="col-3"><input type="time" name="hora" id="hora" class="form-control"></div>
                </div>


                <div class="row py-4">
                    <div class="col-3 pr-5 text-right"><label for="institucion" class="txt_lbl_ind">Institución a la que va dirigido el examen </label></div>
                    <div class="col-6"><input type="text" name="institucion" id="institucion" placeholder="Nombre de la Institución"  class="form-control"></div>
                </div>
                <div class="row py-3">
                    
                        <div class="col-3 pr-5 text-right"><label for="tipo_examen" class="txt_lbl">Que tipo de examen va a realizar</label></div>
                        <div class="col-2 " >
                            <input type="radio" name="General" value=1 class="mr-1">  Linguaskill General
                        </div>
                        <div class="col-4">
                            <input type="radio" name="Business" value=2 class="mr-1"> Linguaskill Business
                        </div>
                        
                    
                </div>
                <div class="row pt-2 py-">
                    
                        <div class="col-3 pr-5 text-right"><label for="modulos" class="txt_lbl">Módulos a realizar</label></div>
                        <div class="col-2 ">
                            <input type="radio" name="tres_modulos" value=1 class="mr-1">Tres Módulos
                        </div >
                        <div class="col-2">
                            <input type="radio" name="dos_modulos " value=2 class="mr-1">Dos Módulos
                        </div>
                        <div class="col-2">
                            <input type="radio" name="un_modilo" value=3 class="mr-1">Un Módulo 
                        </div>
                        
                        
                </div>


                <div class="row pt-5">
                    <div class="col-4 text-center">
                        <div class="row" >
                            <div class="col-6"><label for="archivo_documento" class="txt_lbl">Cargar Documento de Identidad</label></div>
                            <div class="col-5 box-img py-2" onclick="uploadfile();"><img class="archivo" src="../img/subir_archivos.jpg">
                                <div class="txt-file pt-3">Click Aqui Para Caragar Archivos</div>
                            </div>
                            <input type="file" name="archivo_documento" id="archivo_documento" class="d-none">
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="row">
                            <div class="col-5"><label for="archivo_pago" class="txt_lbl">Cargar Evidencia de Pago</label></div>
                            <div class="col-5 box-img py-2" onclick="uploadfile2();"><img class="archivo" src="../img/subir_archivos.jpg">
                                <div class="txt-file pt-3">Click Aqui Para Caragar Archivos</div>
                            </div>

                            <input type="file" name="archivo_pago" id="archivo_pago" class="d-none">
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="row">
                            <div class="col-5"><label for="archivo_foto" class="txt_lbl">Cargar Foto del Candidato</label></div>
                            <div class="col-5 box-img py-2" onclick="uploadfile3();"><img class="archivo" src="../img/subir_archivos.jpg">
                                <div class="txt-file pt-3">Click Aqui Para Caragar Archivos</div>
                            </div>
                            <input type="file" name="archivo_foto" id="archivo_foto" class="d-none">
                        </div>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary mr-4" onclick="parent.location.href='../index.html'" target="_parent">Regresar</button>
                        <button type="button" class="btn btn-danger " onclick="parent.location.href='./usuario.html'" target="_parent">Enviar</button>    
                       
                    </div>
                </div>
            </div>
        </div> 
        <script>
            function uploadfile(){
                var input=document.getElementById("archivo_documento");
                input.click();
            }

            function uploadfile2(){
                var input=document.getElementById("archivo_pago");
                input.click();
            }

            function uploadfile3(){
                var input=document.getElementById("archivo_foto");
                input.click();
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>