<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/miEstilo.css">
</head>
<body>
    
    <form class="form-group mi-form" >
        <div class="col-12">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Escriba su nombre">
        </div> 
        <div class="col-12">
            <label for="inputAddress" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Escriba su apellidos">
        </div>
        <div class="col-md-12">
            <label for="mail" class="form-label">Email</label>
            <input type="email" class="form-control" id="mail" placeholder="name@example.com">
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="*******">
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Repetir Contraseña</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="*******">
        </div>
       <br>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button onclick="parent.location.href='../index.html'" target="_parent" class="btn btn-danger">Regresar</button>
          <button onclick="parent.location.href='../pages/login.html'" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</body>
</html>


