<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>International House Bogotá</title>
</head>
<body>
    <div>
        <img src="../../img/ih.png" alt="">
    </div>
    <br>
    <br>
    <div>
        <button disabled="disabled">+Crear Solicitud</button>
    </div>
    <div>
        <table class="default">
            <tr>
              <th>Solicitud</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Fecha de examen</th>
              <th>Estado Solicitud</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Mark </td>
              <td>Otto</td>
              <td>24/09/2022</td>
              <td>Pendiente</td>
            </tr>
          </table>
    </div>
    <button onclick="parent.location.href='../../index.html'" target="_parent"> Cerrar sesión</button>
</body>
</html>