<nav>
    <div>
        <a href="../index.html" target="_parent">Linguaskill Cambridge</a>
        <a href="../pages/registrarse.html" target="_parent">Registrarse</a>
        <a href="../pages/login.html" target="_parent">Iniciar sesión</a>
        <a href="../pages/login.html" target="_parent">Cerrar sesión</a>
        <a href="../pages/administrador.html" target="_parent">Admin</a>
        <a href="../pages/register.html"target="_parent">Registrarse</a>
        <a href="../pages/login.html" target="_parent">Iniciar sesión</a>
    </div>
</nav>