<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/nav.css">
</head>
<body>
    <nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
            <div class="container-fluid">
              <a class="navbar-brand mi-nav" href="../index.html" target="_parent"><p>Linguaskill  Cambridge</p></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse mi-lista" id="navbarNav">
                <ul class="navbar-nav">
                  
                  <li class="nav-item">
                    <a class="nav-link" href="../pages/register.html"target="_parent" target="_parent"><p>Registrarse</p></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"href="../pages/login.html" target="_parent"><p>Iniciar sesión</p></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../pages/administrador.html" target="_parent"><p>Admin</p></a>
                  </li>
                 
                </ul>
              </div>
            </div>
          </nav>
     
     </nav> 
</body>
</html>

